html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    width: 100%;
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
}

body {
    background-color: rgba(180, 226, 255, 0.1);
}

.meet-the-team {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    height: 55px;
}

#profile-pics{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 550px;
    width: 100%;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin-bottom: 35px;
    background-color: rgba(211, 211, 211, .5);
}

.dev {
    width: 100px;
    height: 100px;
    transition: .4s all ease;
    border-radius: 100px;
    border: solid rgba(177, 196, 248, 0.719) 2px;
}

.dev > img {
    height: 100%;
}

.description {
    width: 50px;
    height: 50px;
    display: inline-block;
    transform: translate(0,0);  
    transition: all 1s;
    opacity: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

.translate {
    transform: translatex(-30px);
    opacity: 1;
}

#carousel-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.item > img {
    width: 100%;
}

.imgdiv {
    width: 70%;
    box-shadow: 2.5px 2.5px 4px rgb(119, 119, 119), -2.5px -2.5px 4px rgb(185, 185, 185);
    border-radius: 5px;
    margin-bottom: 10px;
}

.imgwidth {
    max-width: 100%;
}

.code-example {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    font-size: 20px;
}

@media only screen and (min-width: 660px) {
    .dev {
        width: 130px;
        height: 130px;
    }

    .meet-the-team {
        font-size: 45px;
    }

    #profile-pics {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .translate1 {
        position: absolute;
        transform: translateY(-75%);
        transition: .7s all ease;
    }

    .translate2 {
        transform: translateY(-53%);
        transition: .4s all ease;
    }

    .translate3 {
        transform: translateY(-53%);
        transition: .4s all ease;
    }

    .translate4 {
        transform: translateY(-53%);
        transition: .4s all ease;
    }

    #text-box {
        /* position: absolute; */
        border: 2px solid rgba(194, 194, 194, 0.685);
        border-radius: 7px;
        box-shadow: -3px -3px 2px rgba(105, 105, 105, 0.733);
        width: auto;
        height: auto;
        bottom: 5rem;
        text-align: center;
        padding: 1rem;
    }
}

@media only screen and (min-width: 1024px) {
    #carousel-container {
        width: 100%;
        margin: 0px;
        display: flex;
        justify-content: center;      
    }

    .code-example {
        display: flex;
        justify-content: center;
        margin: 0px;
        font-size: 36px;
    }

    .item > img {
        height: 768px;
    }

    .meet-the-team {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 36px;
        height: 75px;
    }

    #profile-pics {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .dev {
        width: 200px;
        height: 200px;
        transition: .4s all ease;
    }

    .list {
        display: block;
    }

}