html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
}

body {
    display: block;
}

@media screen and (max-width: 500px) {

    .login-link {
        padding-left: 5px;
        padding-right: 25px;
        margin-top: 5px;
        border-top: 2px solid #5b5b5b;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .map-link {
        padding-left: 3px;
        padding-right: 20px;
    }

    .about-link {
        padding-left: 3px;
        padding-right: 5px;
    }

    .github-link {
        padding-left: 9px;
        padding-right: 30px;
        border-bottom: 2px solid #5b5b5b;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

}


section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    height: 375px;
    width: 325px;
    border: solid 2px rgb(215, 215, 215);
    border-radius: 5px;
    box-shadow: 1px 1px 5px 5px hsla(219, 15%, 77%, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    section {
        height: 500px;
    }

    .form-container {
        height: 350px;
        width: 350px;
    }

}

.login {
    display: block;
    width: 95%;
    border: none;
}

.btn-primary{
    margin-top: 10px;
    margin-bottom: 10px;
}

.sign-up-link {
    font-size: 12px;
    font-weight: 300;
}

.sign-up-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.sign-in-link {
    font-size: 12px;
    font-weight: 300;
}

.sign-in-link:hover {
    text-decoration: underline;
    cursor: pointer;
}